@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Overpass:wght@400;700&display=swap");
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: baseline;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:root {
  --white: #ffffff;
  --light-gray: #D8DFE8;
  --light-blue-100: #F3F5FC;
  --dark-blue-300: #0A3871;
  --gray-400: #495057;
  --gray--500: #343A40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--light-blue-100);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  padding-top: 1.5rem;
}
.main__header {
  width: 100%;
  margin-bottom: 1.5rem;
}
.main__logo {
  width: 2rem;
}
.main__message {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.main__message--encrypted {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.4375rem;
  line-height: 150%;
  color: var(--gray-400);
  overflow-wrap: anywhere;
  overflow-y: scroll;
}
.main__textarea {
  width: 100%;
  height: 23.75rem;
  /* font-size: mixinsfunc.pixelToRem(32); */
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--dark-blue-300);
  resize: none;
  line-height: 150%;
}
.main__textarea:focus {
  outline: none;
}
.main__textarea::placeholder {
  color: inherit;
}
.main__actions {
  width: 100%;
}
.main__paragraph {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: var(--gray-400);
  margin: 1rem 0;
}
.main__span {
  margin-right: 0.5rem;
}
.main__icon {
  width: 1rem;
  height: 1rem;
}
.main__btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
.main__btn--default {
  width: 100%;
  height: 4.1875rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.main__btn--default:active {
  transform: scale(90%);
}
.main__btn--primary {
  background-color: var(--dark-blue-300);
  color: var(--white);
}
.main__btn--outline {
  border: 0.0625rem solid var(--dark-blue-300);
  background-color: var(--light-gray);
  color: var(--dark-blue-300);
}
.main__result {
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: 0px 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.08);
}
.main__info {
  width: 100%;
  height: 100%;
  text-align: center;
}
.main__svg {
  display: none;
  margin-bottom: 2rem;
}
.main__h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 120%;
}
.main__p {
  padding: 0 1.875rem;
  font-size: 1rem;
  color: var(--gray-400);
  line-height: 150%;
}
.main__encrypted {
  width: 100%;
  height: 100%;
}
.main__action--copy {
  width: 100%;
  position: relative;
}
.main__tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  background-color: var(--dark-blue-300);
  color: var(--white);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  top: -60%;
  left: 25%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  font-weight: bold;
}
strong > a {
  color: var(--dark-blue-300);
}

@media screen and (min-width: 660px) {
  .main__btn {
    flex-direction: row;
    justify-content: center;
  }
  .main__btn--default {
    /* width: mixinsfunc.pixelToRem(200); */
    min-width: 12.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    height: 90vh;
  }
  .main__header {
    width: 16%;
    margin-bottom: 0;
  }
  .main__logo {
    margin: 0 auto;
  }
  .main__message {
    justify-content: flex-end;
    margin-right: 2.5rem;
  }
  .main__textarea {
    height: 100%;
    margin-top: 2.5rem;
  }
  .main__btn--default {
    max-width: 18.75rem;
  }
  .main__result {
    width: 31.25rem;
    margin: 0;
  }
  .main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__svg {
    display: block;
  }
  .main__encrypted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main__message--encrypted {
    margin-bottom: 2.8125rem;
  }
  .main__action--copy > .main__btn--default {
    max-width: 100%;
  }
}
.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
