@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Overpass:wght@400;700&display=swap');

:root {
  --white: #ffffff;
  --light-gray: #D8DFE8;
  --light-blue-100: #F3F5FC;
  --dark-blue-300: #0A3871;
  --gray-400: #495057;
  --gray--500: #343A40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--light-blue-100);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  padding-top: 24px;
}

.main__header {
  width: 100%;
  margin-bottom: 24px;
}

.main__logo {
  width: 32px;
}

.main__message {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__textarea {
  width: 100%;
  height: 380px;
  /* font-size: 32px; */
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--dark-blue-300);
  resize: none;
}

.main__textarea::placeholder {
  color: inherit;
}

.main__textarea:focus {
  outline: none;
}

.main__actions {
  width: 100%;
  margin-bottom: 32px;
}

.main__paragraph {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--gray-400);
  margin: 1rem 0;
}

.main__span {
  margin-right: 8px;
}

.main__icon {
  width: 16px;
  height: 16px;
}

.main__btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.main__btn--default {
  width: 100%;
  height: 67px;
  padding: 24px;
  border-radius: 24px;
  cursor: pointer;
}

.main__btn--default:active {
  transform: scale(90%);
}

.main__btn--primary {
  background-color: var(--dark-blue-300);
  color: var(--white);
}

.main__btn--outline {
  border: 1px solid var(--dark-blue-300);
  background-color: var(--light-gray);
  color: var(--dark-blue-300);
}

.main__result {
  width: 100%;
  padding: 32px;
  border-radius: 32px;
  background-color: var(--white);
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.main__info {
  width: 100%;
  height: 100%;
  text-align: center;
}

.main__svg {
  display: none;
  margin-bottom: 32px;
}

.main__h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}

.main__p {
  padding: 0 30px;
  font-size: 1rem;
  color: var(--gray-400);
}

.main__encrypted {
  width: 100%;
  height: 100%;
}

.main__message--encrypted {
  width: 100%;
  margin-bottom: 32px;

  font-size: 23px;
  line-height: 150%;
  color: var(--gray-400);

  overflow-wrap: anywhere;
  overflow-y: scroll;
}

.main__action--copy {
  width: 100%;
  position: relative;
}

.main__tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  background-color: var(--dark-blue-300);
  color: var(--white);
  box-shadow: 0 0 10px #0000;
  padding: .5rem 1rem;
  font-size: .8rem;
  border-radius: 8px;
  top: -60%;
  left: 25%;

  opacity: 1;
  transition: opacity .3s ease;
}

/* .main__action--copy:hover .main__tooltip {
  opacity: 1;
} */

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  font-weight: bold;
}

strong>a {
  color: var(--dark-blue-300);
}

@media screen and (min-width: 660px) {

  .main__btn {
    flex-direction: row;
    justify-content: center;
  }

  .main__btn--default {
    /* width: 200px; */
    min-width: 200px;
  }

}

@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    height: 90vh;
  }

  .main__header {
    width: 16%;
    margin-bottom: 0;
  }

  .main__logo {
    margin: 0 auto;
  }

  .main__message {
    justify-content: flex-end;
    margin-right: 40px;
  }

  .main__textarea {
    height: 100%;
    margin-top: 40px;
  }

  .main__btn--default {
    max-width: 300px;
  }

  .main__action--copy>.main__btn--default {
    max-width: 100%;
  }

  .main__result {
    width: 500px;
    margin: 0;
  }

  .main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__svg {
    display: block;
  }

  .main__encrypted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main__message--encrypted {
    margin-bottom: 45px;
  }
}

.hidden {
  display: none;
}